# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


BootBase.VC.VC.opendb
temp/2DGame/Win32/
temp/2DGame/x64/
temp/Bootstrap/x64/Release/Bootstrap.tlog/lib.command.1.tlog
temp/Bootstrap/x64/Release/Bootstrap.tlog/Lib-link.write.1.tlog
temp/Bootstrap/x64/Release/Bootstrap.tlog/Lib-link.read.1.tlog
temp/Bootstrap/x64/Debug/Bootstrap.tlog/CL.write.1.tlog
temp/Bootstrap/x64/Debug/Bootstrap.tlog/CL.read.1.tlog
temp/Bootstrap/x64/Debug/Bootstrap.tlog/CL.command.1.tlog
temp/Bootstrap/x64/Debug/Bootstrap.tlog/Bootstrap.lastbuildstate
temp/AnimatedSprite/x64/Debug/vc140.idb
temp/AnimatedSprite/x64/Debug/AnimatedSprite.tlog/link.write.1.tlog
temp/AnimatedSprite/x64/Debug/AnimatedSprite.tlog/link.read.1.tlog
temp/AnimatedSprite/x64/Debug/AnimatedSprite.tlog/link.command.1.tlog
temp/AnimatedSprite/x64/Debug/AnimatedSprite.tlog/CL.write.1.tlog
temp/AnimatedSprite/x64/Debug/AnimatedSprite.tlog/CL.read.1.tlog
temp/AnimatedSprite/x64/Debug/AnimatedSprite.tlog/CL.command.1.tlog
temp/AnimatedSprite/x64/Debug/AnimatedSprite.tlog/AnimatedSprite.lastbuildstate
temp/Bootstrap/Win32/Release/Bootstrap.tlog/lib.command.1.tlog
temp/Bootstrap/Win32/Release/Bootstrap.tlog/Lib-link.write.1.tlog
temp/Bootstrap/Win32/Release/Bootstrap.tlog/Lib-link.read.1.tlog
temp/Bootstrap/Win32/Release/Bootstrap.tlog/CL.write.1.tlog
temp/Bootstrap/Win32/Debug/Bootstrap.tlog/CL.write.1.tlog
temp/Bootstrap/Win32/Debug/Bootstrap.tlog/CL.read.1.tlog
temp/Bootstrap/Win32/Debug/Bootstrap.tlog/CL.command.1.tlog
temp/Bootstrap/Win32/Debug/Bootstrap.tlog/Bootstrap.lastbuildstate
temp/Bootstrap/Win32/Debug/Bootstrap.idb
temp/Bootstrap/x64/Release/Bootstrap.tlog/CL.command.1.tlog
temp/Bootstrap/x64/Release/Bootstrap.tlog/Bootstrap.lastbuildstate
temp/Bootstrap/x64/Debug/Bootstrap.tlog/lib.command.1.tlog
temp/Bootstrap/Win32/Release/Bootstrap.tlog/CL.command.1.tlog
temp/Bootstrap/Win32/Release/Bootstrap.tlog/Bootstrap.lastbuildstate
temp/Bootstrap/Win32/Debug/Bootstrap.tlog/lib.command.1.tlog
temp/Bootstrap/Win32/Debug/Bootstrap.tlog/Lib-link.write.1.tlog
temp/Bootstrap/Win32/Debug/Bootstrap.tlog/Lib-link.read.1.tlog
temp/Bootstrap/x64/Debug/Bootstrap.tlog/Lib-link.write.1.tlog
temp/Bootstrap/x64/Debug/Bootstrap.tlog/Lib-link.read.1.tlog
temp/Bootstrap/Win32/Release/Bootstrap.tlog/CL.read.1.tlog
temp/Bootstrap/x64/Release/Bootstrap.tlog/CL.write.1.tlog
temp/Bootstrap/x64/Release/Bootstrap.tlog/CL.read.1.tlog
temp/Bootstrap/x64/Debug/Bootstrap.idb
BootBase.VC.db
x64/Debug/MathsLib.lib
temp/Bootstrap/x64/Debug/imgui.obj
temp/Bootstrap/x64/Debug/Renderer2D.obj
temp/Bootstrap/x64/Debug/Font.obj
temp/Bootstrap/x64/Debug/Bootstrap.log
temp/Bootstrap/x64/Debug/Application.obj
temp/Bootstrap/x64/Debug/imgui_draw.obj
temp/Bootstrap/x64/Debug/Texture.obj
temp/Bootstrap/x64/Debug/Input.obj
temp/Bootstrap/x64/Debug/Bootstrap.lib
temp/Bootstrap/x64/Debug/imgui_glfw3.obj
temp/Bootstrap/x64/Debug/gl_core_4_4.obj
temp/Bootstrap/x64/Debug/Gizmos.obj
x64/Debug/MathsLib.pdb
temp/Bootstrap/x64/Debug/Bootstrap.pdb
.vs/Bootstrap/v16/.suo

.vs/Bootstrap/v16/Browse.VC.db

.vs/Bootstrap/v16/ipch/AutoPCH/7874842bc5ab6a63/MAIN.ipch

.vs/Bootstrap/v16/ipch/AutoPCH/fbf62f02e4840f04/APPLICATION2D.ipch

.vs/Bootstrap/v16/Solution.VC.db

.vs/Bootstrap/v16/Solution.VC.db-shm

.vs/Bootstrap/v16/Solution.VC.db-wal
